name: CI

on:
  pull_request

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout GIT repository
      uses: actions/checkout@v2

    - name: Set up JDK
      uses: actions/setup-java@v1
      with:
        java-version: 11

    - name: Build with Gradle
      run: ./gradlew build
